@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FBEEC1;
}

/* Стили для header (такие же как в contacts) */
#header {
    background-color: #659DBD;
    width: 98%;
    height: 80px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
  float: left;
  padding-left: 40px;
  height: 80px;
}

.header__logo img {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
}

.header__logo .title {
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
  color: #333;
  margin-left: 15px;
  line-height: normal;
}

.header__nav {
  float: left;
  display: block;
  margin-left: 400px;
  height: 70px;
  line-height: 70px;
}

.header__nav a {
  text-decoration: none;
  color: #333;
  margin: 0 20px;
  font-size: 20px;
}

.header__nav a:hover {
  color: #daad86;
}

.header__right {
  float: right;
  display: block;
  padding-top: 15px;
  height: 80px;
  margin-right: 40px;
}

.header__right .button {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #daad86;
  color: white;
  border-radius: 4px;
}

.social-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

/* Основной контент регистрации */
.registration-container {
  text-align: center;
  padding: 50px 20px;
  background-color: #FBEEC1;
  min-height: 60vh;
  box-sizing: border-box;
}

.registration-form {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  border: 2px solid #ddd;
}

.registration-title {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
}

.title-line {
  width: 200px;
  height: 3px;
  background-color: #659DBD;
  margin: 0 auto 30px auto;
}

.form-group {
  margin-bottom: 25px;
  clear: both;
}

.form-label {
  display: block;
  color: #333;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: "Lora", serif;
  box-sizing: border-box;
  display: block;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  outline: none;
  border-color: #659DBD;
  background-color: white;
}

.submit-button {
  width: 100%;
  padding: 14px;
  background-color: #daad86;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #bc8c5f;
}

/* Стили для footer (такие же как в contacts) */
#footer {
  background-color: #659DBD;
  width: 98%;
  height: 150px;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.footer__left {
  float: left;
  width: 30%;
  padding-left: 0px;
  text-align: center;
}

.footer__logo {
  display: inline-block;
  text-align: center;
}

.footer__logo img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px auto;
}

.footer__title {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.footer__center {
  float: left;
  width: 40%;
  text-align: center;
}

.footer__nav-title {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.footer__nav {
  display: inline-block;
  text-align: left;
  text-align: center;
}

.footer__nav a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin-bottom: 5px;
}

.footer__nav a:hover {
  color: #daad86;
}

.footer__right {
  float: right;
  width: 30%;
  text-align: center;
  padding: -30px 40px 0 0;
}

.footer__dog {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #daad86;
  margin: 0 auto;
}

.footer__dog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
