@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal
}


.registration-container {
  text-align: center;
  padding: 50px 20px;
  background-color: #f5f5f5;
  min-height: 80vh;
  box-sizing: border-box;
}

.registration-form {
  background-color: #d3d3d3; /* Серый цвет */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

.registration-title {
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
  clear: both;
}

.form-label {
  display: block;
  color: #333;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  box-sizing: border-box;
  display: block;
}

.form-input:focus {
  outline: none;
  border-color: #659DBD;
  background-color: white;
}

.submit-button {
  width: 100%;
  padding: 14px;
  background-color: #659DBD;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  display: block;
}

.submit-button:hover {
  background-color: #5a8cad;
}
